@font-face {
    font-family: lil;
    src: url(../lil.ttf);
}


body {
    font-family: lil;
    font-size: x-large;
    letter-spacing: 0.5px;
    display: block;
    margin: 8px;
    background-image: url('../background.jpg');
    background-size: 100%;
    
    color: white;
    
}
* a{
    text-decoration: none;
}
hr {
    margin: 20px auto;
    clear: both;
}

.contact-me {
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 70px;
}

.info {
    display: flex;
    justify-content: space-between;
}

#code-skills {
    display: flex;
    justify-content: space-between;
    
}


.info article {
    width: 33%;
    transition: width .3s ease;
}
.info p, ul{
    padding-left: 30px;
}
header {
    position: fixed;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    top: 0;
    height: 50px;
    background-color: rgba(152,175,199,0.3);
    text-align: center;
    box-shadow: 0 0 5px black;
    z-index: 50;
}
header a {
    font-family: lil;
    font-size: x-large;
    margin-top: 15px;
    float: left;
    width: 20%;
    color: white;
}
header a:hover {
    color: grey;
}


* article{
    max-width: 960px;
        
} 
#aboutme img{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
#aboutme p{
    text-indent: 10px;
}
    
#education{
    background-color: rgba(92,115,139,0.5);
    box-shadow: 0 0 5px black;
    
}
#experience{
    background-color: rgba(92,115,139,0.5);
    box-shadow: 0 0 5px black;
}
#languages{
    background-color: rgba(92,115,139,0.5);
    box-shadow: 0 0 5px black;
}
#skills{
    padding-top: 50px;
}
.skill {
    background-color: rgba(0,0,0,0.5);
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    /*display: flex;
    justify-content: space-between;*/
}
/**.c100 {
    position: absolute;
    bottom: 0;
} */
/*#graphic-skills > div: first-child {
    background-color: rgba(0,0,0,0.5);
    float: left;
    display: flex;
    justify-content: space-between;
}*/
#projects{
    padding-top: 50px;
}
#contact{
    padding-top: 50px;
}
.contact-me{
    background-color: rgba(92,115,139,0.5);
    box-shadow: 0 0 5px black;
}
footer {
    position: absolute;
    width: 960px;
    padding-top: 10px;
    background-color: rgba(92,115,139,0.5);
    box-shadow: 0 0 5px black;
    text-align: center;
}
footer p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.projects{
    display: flex;
    justify-content: space-between;
}

.contact-me{
    display: flex;
    justify-content: space-around;
}
.message{
    margin-bottom: 10px;
}

.message input[type="text"],
.message input[type="email"],
.message textarea {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}
#contacts div{
    margin-top: 40px;
    height: 30px;
}
.pin {
    padding-left: 25px;
    background: url(../contacts/pin.png) no-repeat left center transparent;
    background-size: 20px;
}
.phone {
    padding-left: 25px;
    background: url(../contacts/phone.png) no-repeat left center transparent;
    background-size: 20px;
}
.gmail {
    padding-left: 25px;
    background: url(../contacts/gmail.ico) no-repeat left center transparent;
    background-size: 20px;
}
.skype {    
    padding-left: 25px;
    background: url(../contacts/skype.png) no-repeat left center transparent;
    background-size: 20px;
}

#prn-dwn img {
    opacity: 0.5;

    
}
#prn-dwn {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 480px)  {
    .info {
        flex-direction: column;
    }
    .info article {
        width: 100%;
        margin-bottom: 10px;
    }
    .info article:last-of-type {
        margin-bottom: 0
    }
}
