/*@font-face {
    font-family: myfont;
    src: local("dark.ttf");
}*/
body {
    display: block;
    margin: 8px;
}
    header {
        max-width: 1000px;
        min-width: 300px;
        height: 150px;
        background-color:#98AFC7;
    }
    #aboutme{
        max-width: 1000px;
        min-width: 300px;
        height: 300px;
        background-color:#E8FFFF;
    }
    #education{
        height: 400px;
        background-color: #5C738B;
        float:left;
        width:33%;
    }
     #experience{
        height: 400px;
        background-color: #526981;
        float:left;
        width:33%;
    }
    #languages{
        height: 400px;
        background-color: #5C738B;
        float:left;
        
    }