@font-face {
  font-family: dark;
  src: local("dark.ttf"),
       url(dark.ttf);
}

body {
    font-family: dark;
    display: block;
    margin: 8px;
    background-image: url('background.jpg');
    background-size: 100%;
    
    color: white;
    
}
* a{
    text-decoration: none;
}
hr {
    margin: 10 auto;
    clear: both;
}

.contact-me {
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 58px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info article {
    width: 33%;
    transition: width .3s ease;
}
    header {
        position: fixed;
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        top: 0;
        height: 50px;
        background-color: #98AFC7;
        text-align: center;
    }
    header a {
        margin-top: 20px;
        float: left;
        width: 20%;
        color: white;
    }
    header a:hover {
        color: grey;
    }
    * article{
        max-width: 960px;
        
    } 
    article #aboutme p {
        height: 500px;
        background-color:#E8FFFF;
        float: right;
    }
    #aboutme img{
        float: left;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    /*#profile {
        float:left;
    }*/
    #education{
        background-color: #5C738B;
    }
     #experience{
        background-color: #526981;
    }
    #languages{
        background-color: #5C738B;
        
    }
    .message {
        float: right;
    }
    .message input[type="text"],
    .message input[type="email"],
    .message textarea {
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        outline: none;
       
    }

.skype {
    padding-left: 25px;
    background: url(contacts/skype.png) no-repeat left center transparent;
    background-size: 20px;
}

@media only screen and (max-width: 480px)  {
    .info {
        flex-direction: column;
    }
    .info article {
        width: 100%;
        margin-bottom: 10px;
    }
    .info article:last-of-type {
        margin-bottom: 0
    }
}
    